
.w-c {
    width: 25%;
}
.color-fa {
    color: #b8ae37;
}
.align-image {
    text-align: left;
}
.modal-animation {
    animation-name: bounceInDown;
    animation-duration: 0.4s;
    animation-fill-mode: forwards
}
@media screen and (max-width: 576px) {
    .w-c {
        width:70%;
    }
    .color-fa {
        color: #b8ae37;
        font-size:small;
    }
    .align-image{
        text-align:center;
    }
    .modal-animation {
        animation-name: rotateInDownRight;
        animation-duration: 0.4s;
        animation-fill-mode:forwards;
    }
    .animation-drop-sm {
        animation-name: fadeInDown;
        animation-duration: 0.4s;
    }
}

@media screen and (max-width: 1200px) {
   
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

li > .link-hint {
    text-decoration: none;
}

.dropdown-item {
    color: white;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

/*.dropdown > .dropdown-toggle:active {
    without this, clicking will make it sticky
}*/
.bg-mne-c {
    background: #bf9d62;
}

.dropdown-menu-golde-c {
    color: white;
    background-color: #c4cf36;
    border-color: rgb(0 0 0 / 0%);
}

.link_nav-h {
    transition: 0.1s ease-in-out;
}

.link_nav-h:hover {
        border-top: 2px solid #4caf50;
    }
.col-3-c {
    flex: 0 0 auto;
    width: 24%;
}
.image-static {
    background-image: url("../b2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.image-static-adv{
    background-image:url("../secton_logo.jpg");
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}
.item {
    height: 10rem;
      
     background-color: #4DC7A0;
}
.mt{
    margin-top:4rem;
}
.owl-theme .owl-nav {
    font-size: xx-large;
}
.adv-item{
    padding-top:1rem;
}
.owl-dots{

}


.owl-carousel .nav-btn{
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 100px !important;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled{
pointer-events: none;
/*opacity: 0.2;*/
}

.owl-carousel .prev-slide {
    left: -33px;
    margin-top: -49px;
}
.owl-carousel .next-slide {
    right: -33px;
    margin-top: -49px;
}
.owl-carousel .prev-slide > i:hover {
    color: #b8ae37;
}
.owl-carousel .next-slide>i:hover {
    color: #b8ae37;
}
.animation-drop {
    animation-name: fadeInDown;
    animation-duration: 0.4s;
}
