
.w-c {
    width: 25%;
}

@media screen and (max-width: 576px) {
    .w-c {
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

li > .link-hint {
    text-decoration: none;
}

.dropdown-item {
    color: white;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

/*.dropdown > .dropdown-toggle:active {
    without this, clicking will make it sticky
}*/
.bg-mne-c {
    background: #bf9d62;
}

.dropdown-menu-dark-c {
    color: white;
    background-color: #0765c3;
    border-color: rgb(0 0 0 / 0%);
}

.link_nav-h {
    transition: 0.1s ease-in-out;
}

.link_nav-h:hover {
        border-top: 2px solid #4caf50;
    }
.col-3-c {
    flex: 0 0 auto;
    width: 24%;
}
.image-static {
    background-image: url("../b2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.image-static-adv{
    background-image:url("../secton_logo.jpg");
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}
.item {
    height: 10rem;
      
     background-color: #4DC7A0;
}
.mt{
    margin-top:4rem;
}
.owl-theme .owl-nav {
    font-size: xx-large;
}
.adv-item{
    padding-top:1rem;
}
.owl-dots{

}


.owl-carousel .nav-btn{
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 100px !important;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled{
pointer-events: none;
opacity: 0.2;
}

.owl-carousel .prev-slide{
  background: url(nav-icon.png) no-repeat scroll 0 0;
  left: -33px;
}
.owl-carousel .next-slide{
  background: url(nav-icon.png) no-repeat scroll -24px 0px;
  right: -33px;
}
.owl-carousel .prev-slide:hover{
 background-position: 0px -53px;
}
.owl-carousel .next-slide:hover{
background-position: -24px -53px;
}   