@model portal.Models.Navigation

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Navigation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Nav_Id" />
            <div class="form-group">
                <label asp-for="nav_Name" class="control-label"></label>
                <input asp-for="nav_Name" class="form-control" />
                <span asp-validation-for="nav_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nav_Url" class="control-label"></label>
                <input asp-for="nav_Url" class="form-control" />
                <span asp-validation-for="nav_Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nav_Location" class="control-label"></label>
                <input asp-for="nav_Location" class="form-control" />
                <span asp-validation-for="nav_Location" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isActive" /> @Html.DisplayNameFor(model => model.isActive)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isGroup" /> @Html.DisplayNameFor(model => model.isGroup)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="lang_id" class="control-label"></label>
                <select asp-for="lang_id" class="form-control" asp-items="ViewBag.lang_id"></select>
                <span asp-validation-for="lang_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
