<section class="image-static my-2 py-3 text-white" style="height:400px;">
    <h5 class="text-center ">أنشطة وفعاليات</h5>
    <div class="row mx-4">
        <div class="col-6 my-3" style="height:300px; border-left:2px solid white;">
            <a href="#" class="event-items">
                <div class="date"></div>
                <div class="title"></div>
            </a>
            <a href="#" class="event-items">
                <div class="date"></div>
                <div class="title"></div>
            </a>
        </div>
        <div class="col-6 " style="height:300px;">
            <a href="#" class="event-items">
                <div class="date"></div>
                <div class="title"></div>
            </a>
            <a href="#" class="event-items">
                <div class="date"></div>
                <div class="title"></div>
            </a>
        </div>
    </div>
</section>