<div class="my-5 align-content-center container justify-content-center " style="height:250px;">
    <h5 class="text-center ">مؤسسات اقتصادية </h5>
    <div class="owl-carousel owl-theme my-4 " style="" id="orgnization_att">
        <div class="item shadow-sm mb-1 bg-body rounded"><h4>المواصفات والمقاييس</h4></div>
        <div class="item shadow-sm mb-1 bg-body rounded"><h4>تشجيع الاستثمار</h4></div>
        <div class="item shadow-sm mb-1 bg-body rounded"><h4>المدن الصناعية </h4></div>
        <div class="item shadow-sm mb-1 bg-body rounded"><h4>التكافل</h4></div>
        <div class="item shadow-sm mb-1 bg-body rounded"><h4>5</h4></div>
        <div class="item shadow-sm mb-1 bg-body rounded"><h4>6</h4></div>
        <div class="item shadow-sm mb-1 bg-body rounded"><h4>7</h4></div>

    </div>
</div>