<div class="container">
    <div class="row">
        <div class="col-lg-6 border border-2 border-primary">
            <a data-fancybox href="https://www.youtube.com/watch?v=o5pXIG-NuFQ">

            </a>
        </div>
        <div class="col-lg-5 border border-2 border-primary"></div>

    </div>
</div>