<div class="d-flex flex-column ">
    <div class="">
        <div class="camera_wrap" style="height: 600px;">

            <div data-src="/IMG_7594.JPG" style="height: 478px;">
                <div class="camera_caption text-center">اجتماع الوزير </div>
                <div class="fadeIn camera_effected text-center mt-auto">
                    <h5 class="text-start" style="margin-right:30%;">برازيل</h5>
                    <p>لقاء مع الوزير</p>
                </div>
            </div>
            <div data-src="/IMG_9661.JPG"><div class="camera_caption text-center">اجتماع الوزير </div></div>
            <div data-src="/IMG_8356.JPG"><div class="camera_caption text-center">اجتماع الوزير </div></div>
            <div data-src="/b1.jpg"></div>
            <div data-src="/b2.jpg"></div>

        </div>
    </div>

</div>