<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - portal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" />

    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/fontawesome.js"></script>
    <style>
        .nav-item:hover {
            border: 1px dotted red;
        }

        .carousel-control-next, .carousel-control-prev {
            color: lightblue;
        }

        .search {
            position: absolute;
            border: none;
            margin-right: 7%;
        }

        .nav-login {
            background: linear-gradient( 179deg, #03a9f461, transparent),linear-gradient( 272deg, #03a9f461, transparent);
            border-bottom: 1px #03a9f4 solid;
        }
    </style>
</head>
<body>
    <header>
        <div class="nav nav-login">
            <div class="container">

                <ul class="nav align-items-center">
                    <li class="nav-item">
                        <form class="d-flex">
                            <input class="form-control-sm me-2" style="width:auto;" type="search" placeholder="بحث..." aria-label="Search">
                            <button class="btn btn-link search" type="submit"><i class="fas fa-search"></i></button>
                        </form>
                    </li>
                    <li class="nav-item"><a class="nav-link">تسجيل الدخول <i class="fas fa-user"></i></a></li>
                    <li class="nav-item"><a class="nav-link">اتصل بنا </a></li>
                </ul>
            </div>

        </div>
        <nav class="nav nav-tabs">

        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            @*&copy; 2021 - portal - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
