
<div class="modal modal-animation" id="MneSearch" data-bs-backdrop="static" role="dialog" data-bs-keyboard="false" tabindex="-1" aria-labelledby="MneSearchLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg-c modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">بحث</h5>
                <button type="button" class="btn-close" id="MneSearchLabel" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-floating mb-3">

                    <input type="text" id="search_Mne" name="search_Mne" class="form-control" placeholder="بحث" />
                    <label for="search_Mne">بحث</label>
                </div>
                <hr />
                <div class="container-fluid">
                    <h5>الاكثر بحثا</h5>
                    <div class="row">
                        <div class="col">
                            <ul>
                                <li><a href="#" class="link-hint link-secondary">قانون الشركات </a></li>
                                <li><a href="#" class="link-hint link-secondary">الصناعة</a></li>
                                <li><a href="#" class="link-hint link-secondary">الملكية الفكرية </a></li>
                                <li><a href="#" class="link-hint link-secondary">العلامات التجارية</a></li>
                                <li><a href="#" class="link-hint link-secondary">الوكالات التجارية</a></li>
                            </ul>
                        </div>
                        <div class="col">
                            <ul>
                                <li><a href="#" class="link-hint link-secondary">قانون الشركات </a></li>
                                <li><a href="#" class="link-hint link-secondary">الصناعة</a></li>
                                <li><a href="#" class="link-hint link-secondary">الملكية الفكرية </a></li>
                                <li><a href="#" class="link-hint link-secondary">العلامات التجارية</a></li>
                                <li><a href="#" class="link-hint link-secondary">الوكالات التجارية</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer justify-content-around">
                <button type="button" id="searchContant" class="btn btn-outline-primary">بحث</button>
                <button type="button" id="advancedSearch" class="btn btn-outline-primary">بحث متقدم</button>
                <button type="button" id="hintsSearch" class="btn btn-outline-primary">تلميحات البحث</button>
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">الغاء</button>
            </div>
        </div>
    </div>
</div>