<div class="col-lg-8 mx-1 col-md-7 col-sm-11 my-1  border-golde rounded" style="height:250px;">
    <h5 class="my-3 mx-3">اعلانات </h5>
    <div class="owl-carousel owl-theme" id="adv_adv">
        <div class="adv-item">
            <p class="adv-title">
                اعلان منح مشروع نجاحها: تمكين الشابات الرياديات الفلسطينيات في القطاع الزراعي1
            </p>
            <div class="adv-date"><span>11/11/2020 1:14:22</span></div>
        </div>
        <div class="adv-item">
            <p class="adv-title">
                اعلان منح مشروع نجاحها: تمكين الشابات الرياديات الفلسطينيات في القطاع الزراعي2
            </p>
            <div class="adv-date"><span>11/11/2020 1:14:22</span></div>
        </div>
        <div class="adv-item">
            <p class="adv-title">
                اعلان منح مشروع نجاحها: تمكين الشابات الرياديات الفلسطينيات في القطاع الزراعي3
            </p>
            <div class="adv-date"><span>11/11/2020 1:14:22</span></div>
        </div>
        <div class="adv-item">
            <p class="adv-title">
                اعلان منح مشروع نجاحها: تمكين الشابات الرياديات الفلسطينيات في القطاع الزراعي4
            </p>
            <div class="adv-date"><span>11/11/2020 1:14:22</span></div>
        </div>
    </div>
</div>