<div class="collapse navbar-collapse animation-drop-sm" id="navbarMNEt">
    <ul class="navbar-nav me-auto  mb-2 mb-lg-0 ">
        <li class="link_nav-h dropdown text-center px-3">
            <a class="btn btn-link nav-link text-white dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                عن الوزارة
            </a>
            <ul class="dropdown-menu dropdown-menu-golde-c animation-drop" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">item 1</a></li>
                <li><a class="dropdown-item" href="#">item 2</a></li>
                <li><a class="dropdown-item" href="#">item3</a></li>
            </ul>
        </li>
        <li class="link_nav-h dropdown text-center px-3">
            <a class="btn btn-link nav-link text-white dropdown-toggle" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                خدمات الوزارة
            </a>
            <ul class="dropdown-menu dropdown-menu-golde-c animation-drop" aria-labelledby="dropdownMenuButton2">
                <li><a class="dropdown-item" href="#">item 1</a></li>
                <li><a class="dropdown-item" href="#">item 2</a></li>
                <li><a class="dropdown-item" href="#">item3</a></li>
            </ul>
        </li>
        <li class="dropdown link_nav-h text-center px-3">
            <a class="btn btn-link nav-link text-white dropdown-toggle" id="dropdownMenuButton4" data-bs-toggle="dropdown" aria-expanded="false">
                الادارات العامة
            </a>
            <ul class="dropdown-menu dropdown-menu-golde-c animation-drop" aria-labelledby="dropdownMenuButton4">
                <li><a class="dropdown-item" href="#">item 1</a></li>
                <li><a class="dropdown-item" href="#">item 2</a></li>
                <li><a class="dropdown-item" href="#">item3</a></li>
            </ul>
        </li>
        <li class="dropdown link_nav-h text-center px-3 ">
            <a class="btn btn-link nav-link text-white dropdown-toggle" id="dropdownMenuButton5" data-bs-toggle="dropdown" aria-expanded="false">
                مشاريع الوزارة
            </a>
            <ul class="dropdown-menu dropdown-menu-golde-c animation-drop" aria-labelledby="dropdownMenuButton5">
                <li><a class="dropdown-item" href="#">item 1</a></li>
                <li><a class="dropdown-item" href="#">item 2</a></li>
                <li><a class="dropdown-item" href="#">item3</a></li>
            </ul>
        </li>
        <li class="dropdown text-center px-3">
            <a class="nav-link text-white" href="#">الوظائف</a>
        </li>

    </ul>
</div>