
<div class="offcanvas offcanvas-start fadeInRight shadow " data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasNotify" aria-labelledby="offcanvasNotifyLabel">
    <div class="offcanvas-header  border-bottom border-dark">
        <h5 class="offcanvas-title" id="offcanvasNotifyLabel"> <i class="fas fa-bell"></i><span class="gx-2">اشعارات</span></h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="list-group list-group-flush text-center">
            <li class="list-group-item">الاشعار رقم 1</li>
            <li class="list-group-item">تنبيه</li>
            <li class="list-group-item">اعلان</li>
            <li class="list-group-item">عطاء</li>
            <li class="list-group-item">استشارات</li>
        </ul>
    </div>
</div>