@model IEnumerable<Language>
@{
    ViewData["Title"] = "الصفحة الرئيسية ";
}
<partial name="_ImageSlide" />


<div class="container">
    <partial name="_optional" />
    <div class="my-2 container-sm">
        <div class="row px-lg-2 px-sm-1  justify-content-lg-between justify-content-sm-start  ">
            <partial name="_MneAdv" />
            <partial name="_ElecServices" />

        </div>
    </div>

    <div class="my-2 py-3 container-sm">
        <partial name="_MneNews" />
    </div>
</div>

<partial name="_Activities" />
<div class="container">
    <partial name="_ProgrameImage" />
</div>
<div class="my-2 image-static-adv" id="promotional-movie" style="height:400px;">
    <partial name="_ImageAdv" />
</div>
<div class="" style="">
    <partial name="_EcoInstitutions" />
</div>

@section scripts_owl{
    <link href="~/lib/owlSlider/css/animate.css" rel="stylesheet" />
    <script>
        $(function () {
            $('#card_services').owlCarousel({
                rtl: true,
                loop: true,
                dots: false,
                nav: true,
                margin: 30,
                autoplay: true,
                autoplayTimeout: 1500,
                autoplayHoverPause: true,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 2,
                        nav: true,
                        center: true,
                    },
                    600: {
                        items: 3,
                        nav: false
                    },
                    1000: {
                        items: 4,
                        nav: true,
                        loop: false
                    }
                }

            });
            $('#adv_adv').owlCarousel({
                rtl: true,
                loop: true,
                animateOut: 'slideInRight',
                animateIn: ' slideOutLeft',
                items: 1,
                margin: 30,
                autoplay: true,
                autoplayTimeout: 3000,
            });
            $('#news_card').owlCarousel({
                rtl: true,
                loop: true,
                animateOut: 'slideInRight',
                animateIn: ' slideOutLeft',
                autoplay: false,
                autoplayTimeout: 2500,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: false,
                        center: true,
                        dots: true,
                        animateOut: 'slideInRight',
                        animateIn: ' slideOutLeft',
                    },
                    600: {
                        items: 3,
                        nav: true
                    },
                    1000: {
                        items: 4,
                        nav: false,
                        loop: false
                    }
                }
            });
            $('#orgnization_att').owlCarousel({


                rtl: true,
                loop: true,
                dots: false,
                nav: true,
                margin: 30,
                autoplay: true,
                autoplayTimeout: 2000,
                responsiveClass: true,

                responsive: {
                    0: {
                        items: 2,
                        nav: true,
                        center: true,
                    },
                    600: {
                        items: 3,
                        nav: false
                    },
                    1000: {
                        items: 4,
                        nav: true,
                        loop: false,
                        navText: ['<div class="nav-btn prev-slide"><i class="fas fa-chevron-left"></i></div><div class="nav-btn next-slide"><i class="fas fa-angle-right"></i></div>'],

                    }
                }

            });
        });

    </script>
}