@{
    ViewData["Title"] = "الصفحة الرئيسية ";
}
<div class="camera_wrap">

    <div data-src="/IMG_7594.JPG">
        <div class="camera_caption text-center">اجتماع الوزير </div>
        <div class="fadeIn camera_effected text-center mt-auto">
            <h5 class="text-start" style="margin-right:30%;">برازيل</h5>
            <p>لقاء مع الوزير</p>
        </div>
    </div>
    <div data-src="/IMG_9661.JPG"><div class="camera_caption text-center">اجتماع الوزير </div></div>
    <div data-src="/IMG_8356.JPG"><div class="camera_caption text-center">اجتماع الوزير </div></div>
    <div data-src="/b1.jpg"></div>
    <div data-src="/b2.jpg"></div>
</div>
<div style="height:1000px;">

</div>
<!--<div class=" bg-danger">
    <div class="slider-container">
        <div class="slider-carousel">
            <div class="slider">
                <div class="slide-panel">
                    <img class="slide-img" src="~/demand.png" alt="">
                    <div class="slide-box">
                        <h2 class="slide-text">Slide 1</h2>
                    </div>
                    <div class="slide-overlay"></div>
                </div>
                <div class="slide-panel">
                    <img class="slide-img" src="~/Mne_logo.png" alt="">
                    <div class="slide-box">
                        <h2 class="slide-text">Slide 2</h2>
                    </div>
                </div>-->
@*<div class="slide-panel">
        <img class="slide-img" src="~/IMG_7594.JPG" alt="">
        <div class="slide-box">
            <h2 class="slide-text">Slide 3</h2>
        </div>
    </div>*@
<!--</div>
            <div class="slider-controls">
                <span class="slider-arrow prev-slide">
                    <i class="material-icons">
<                    </i>
                </span>
                <span class="slider-arrow next-slide">
                    <i class="material-icons">
                        >
                    </i>
                </span>
                <div class="slideshow-toggle">
                    <i class="material-icons play-slideshow">
                        play_arrow
                    </i>
                    <i class="material-icons pause-slideshow">
                        pause

                    </i>
                </div>
                <ul class="slide-selector">
                    <li class="slide-selected"></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>

</div>-->
@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
